<!-- src/app/log-in/log-in.component.html -->
<div class="login-container">
  <h1>Login to your account</h1>
  <p>
    In order to use the editing and rating capabilities of MovieReviewer, as well as get personal recommendations you will need to login to your account. If you do not have an account, registering for an account is free and simple.
    <a href="/signup">Click here</a> to get started.
  </p>
  <form (ngSubmit)="logIn()">
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Username</mat-label>
      <input matInput type="text" [(ngModel)]="username" name="username">
    </mat-form-field>
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Password</mat-label>
      <input matInput type="password" [(ngModel)]="password" name="password">
    </mat-form-field>
    <div class="actions">
      <button mat-raised-button color="primary" type="submit">Login</button>
    </div>
  </form>
  <div *ngIf="errorMessage" class="error-message">
    {{ errorMessage }}
  </div>
</div>
