<div *ngIf="tvShow">
  <h1>{{ tvShow.name }}</h1>
  <img [src]="'https://image.tmdb.org/t/p/w500' + tvShow.poster_path" alt="{{ tvShow.name }}">
  <p>{{ tvShow.overview }}</p>
  <p>First Air Date: {{ tvShow.first_air_date | date }}</p>
  <p>Rating: {{ tvShow.vote_average }}</p>
  <button *ngIf="!isInWatchlist" (click)="addToWatchlist()">Add to Watchlist</button>
  <button *ngIf="isInWatchlist" (click)="removeFromWatchlist()">Remove from Watchlist</button>
  <button *ngIf="!isInFavourites" (click)="addToFavourites()">Add to Favourites</button>
  <button *ngIf="isInFavourites" (click)="removeFromFavourites()">Remove from Favourites</button>

  <app-review [contentId]="tvShow.id" [contentType]="'TVShow'"></app-review>
</div>
