<!-- src/app/app.component.html -->
<mat-toolbar color="primary">
  <a mat-button routerLink="/home">Home</a>
  <span class="spacer"></span>
  <ng-container *ngIf="!authService.isAuthenticated(); else loggedIn">
    <a mat-button routerLink="/login">Log In</a>
    <a mat-button routerLink="/signup">Sign Up</a>
  </ng-container>
  <ng-template #loggedIn>
    <div class="dropdown" (mouseover)="toggleDropdown(true)" (mouseout)="toggleDropdown(false)">
      <span mat-button>{{ getUsername() }}</span>
      <div class="dropdown-content" [class.show]="dropdownVisible">
        <a mat-button routerLink="/protected">Protected Page</a>
        <a mat-button *ngIf="isAdmin()" routerLink="/admin">Admin</a>
        <a [routerLink]="['/', authService.currentUserValue.username]">Profile</a>
        <a [routerLink]="['/', authService.currentUserValue.username, 'favourites']">Favourites</a>
        <a [routerLink]="['/', authService.currentUserValue.username, 'watchlist']">Watchlist</a>
        <a mat-button (click)="logout()">Logout</a>
      </div>
    </div>
  </ng-template>
</mat-toolbar>
<div class="app-container">
  <router-outlet></router-outlet>
</div>
