<mat-toolbar color="primary">
  <a mat-button routerLink="/home">Home</a>
  <span class="spacer"></span>
  <ng-container *ngIf="!authService.isAuthenticated(); else loggedIn">
    <a mat-button routerLink="/login">Log In</a>
    <a mat-button routerLink="/signup">Sign Up</a>
  </ng-container>
  <ng-template #loggedIn>
    <a mat-button [routerLink]="['/', getUsername(), 'favourites']">Favourites</a>
    <a mat-button [routerLink]="['/', getUsername(), 'watchlist']">Watchlist</a>
    <a mat-button [routerLink]="['/', getUsername()]">{{ getUsername() }}'s Profile</a>
    <a mat-button (click)="logout()">Logout</a>
  </ng-template>
</mat-toolbar>
<div class="app-container">
  <router-outlet></router-outlet>
</div>
