<div class="profile-container">
    <h1 *ngIf="isCreateMode">Create User</h1>
    <h1 *ngIf="!isCreateMode">Edit User</h1>
    <form (ngSubmit)="updateUser()">
        <mat-form-field appearance="outline" class="full-width">
            <mat-label>Username</mat-label>
            <input matInput type="text" [(ngModel)]="username" name="username">
        </mat-form-field>
        <mat-form-field appearance="outline" class="full-width">
            <mat-label>Password</mat-label>
            <input matInput type="password" placeholder="Leave blank to keep unchanged" [(ngModel)]="password" name="password">
        </mat-form-field>
        <mat-form-field appearance="outline" class="full-width">
            <mat-label>Role</mat-label>
            <mat-select [(value)]="role" [(ngModel)]="role" name="role">
                <mat-option value="user">User</mat-option>
                <mat-option value="admin">Admin</mat-option>
            </mat-select>
        </mat-form-field>
        <div class="actions">
            <button *ngIf="isCreateMode" mat-raised-button color="primary" type="submit">Create</button>
            <button *ngIf="!isCreateMode" mat-raised-button color="primary" type="submit">Update</button>
        </div>
    </form>
</div>
