.admin-dashboard {
  padding: 20px;
  background-color: #f9f9f9;
}

.admin-title {
  text-align: center;
  font-size: 2em;
  margin-bottom: 20px;
  color: #343a40;
}

.admin-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;

  th, td {
    padding: 10px;
    text-align: left;
  }

  th {
    background-color: #222266;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  tbody tr:nth-child(even) {
    background-color: #f9f9f9;
  }

  .sortable:after {
    content: " \25B2\25BC";
    font-size: 0.8em;
  }

  .edit-btn, .delete-btn, .blacklist-btn, .unblacklist-btn {
    margin-right: 10px;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
  }

  .edit-btn {
    background-color: #2222aa;
  }

  .delete-btn {
    background-color: #dc3545;
  }

  .blacklist-btn {
    background-color: #333333;
    width: 90px
  }

  .unblacklist-btn {
    background-color: #03A9F4;
    width: 90px
  }
}

.create-movie-btn {
  background-color: #2222aa;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: block;
  margin: 20px 0;
}
