<div class="admin-dashboard">
  <h2 class="admin-title">Admin - Movies</h2>
  <table class="admin-table">
    <thead>
    <tr>
      <th (click)="sortMovies('title')">Title</th>
      <th (click)="sortMovies('genre')">Genre</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let movie of movies">
      <td>{{ movie.title || movie.name }}</td>
      <td>{{ movie.genres[0].name }}</td>
      <td>
        <button class="edit-btn" (click)="editMovie()">Edit</button>
        <button class="delete-btn" (click)="deleteMovie(movie.tmdb_id)">Delete</button>
        <button *ngIf="!movie.isBlacklisted" class="blacklist-btn" (click)="blacklistMovie(movie)">Blacklist</button>
        <button *ngIf="movie.isBlacklisted" class="unblacklist-btn" (click)="unblacklistMovie(movie)">Unblacklist</button>
      </td>
    </tr>
    </tbody>
  </table>
  <button class="create-movie-btn" (click)="createMovie()">Create Movie</button>
</div>
