<div class="search-bar">
  <input
    type="text"
    [(ngModel)]="query"
    placeholder="Search for a movie or TV show..."
    (keyup.enter)="onSearch()"
  />
  <button (click)="onSearch()">Search</button>
</div>
<div class="movie-results">
  <div *ngFor="let item of results" class="movie-card">
    <a (click)="viewDetails(item)">
      <img [src]="'https://image.tmdb.org/t/p/w500' + item.poster_path" alt="{{ item.title || item.name }}">
      <h3>{{ item.title || item.name }}</h3>
      <p>{{ item.release_date || item.first_air_date | date }}</p>
    </a>
  </div>
</div>
