<div class="add-review">
  <h3>Add a Review</h3>
  <input type="text" [(ngModel)]="newReviewTitle" placeholder="Review Title">
  <div class="stars">
    <ng-container *ngFor="let star of [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]">
      <input type="radio" [id]="'star' + star" name="rating" [(ngModel)]="newReviewRating" [value]="star">
      <label [for]="'star' + star" (click)="setRating(star)">★</label>
    </ng-container>
  </div>
  <textarea [(ngModel)]="newReview" placeholder="Add a review..."></textarea>
  <button (click)="addReview()">Submit</button>
</div>
