.reviews {
  h2 {
    font-size: 24px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .error-messages {
    color: red;
    margin-bottom: 10px;
  }

  .review {
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #f9f9f9;
    border-radius: 4px;

    .review-header {
      display: flex;
      align-items: center;

      .stars {
        display: flex;
        margin-left: 10px;
        margin-bottom: 10px;

        .star {
          color: #ddd;
          font-size: 20px;
          &.filled {
            color: #ffc107;
          }
        }
      }

      .review-title {
        font-weight: bold;
        font-size: 20px;
      }
    }

    .review-content {
      margin: 10px -0;
    }

    .review-footer {
      font-size: 14px;
      color: #555;
    }

    .review-actions {
      display: flex;
      align-items: center;
      gap: 10px;

      button {
        padding: 5px 10px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        font-size: 14px;

        &.edit-button {
          background-color: #007bff;
          color: #fff;
        }
        &.remove-button {
          background-color: #dc3545;
          color: #fff;
        }
      }
    }

    .edit-review {
      margin-top: 10px;
      display: flex;
      flex-direction: column;
      gap: 10px;

      input, textarea {
        padding: 8px;
        border: 1px solid #ddd;
        border-radius: 4px;
      }

      .stars {
        display: flex;

        .star {
          color: #ddd;
          font-size: 20px;
          cursor: pointer;
          &.filled {
            color: #ffc107;
          }
        }
      }

      .edit-actions {
        display: flex;
        gap: 10px;

        button {
          padding: 5px 10px;
          border: none;
          border-radius: 4px;
          cursor: pointer;
          font-size: 14px;
          &.update-button {
            background-color: #28a745;
            color: #fff;
          }
          &.cancel-button {
            background-color: #dc3545;
            color: #fff;
          }
        }
      }
    }
  }

  .add-review {
    margin-top: 20px;
    h3 {
      font-size: 20px;
      margin-bottom: 10px;
    }

    input, textarea {
      width: 100%;
      padding: 8px;
      border: 1px solid #ddd;
      border-radius: 4px;
      margin-bottom: 10px;
    }

    .stars {
      display: flex;

      .star {
        color: #ddd;
        font-size: 20px;
        cursor: pointer;
        &.filled {
          color: #ffc107;
        }
      }
    }

    .submit-button {
      padding: 10px 20px;
      background-color: #28a745;
      color: #fff;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      font-size: 16px;
    }
  }
}
