<div class="reviews">
  <h2>Reviews</h2>
  <div *ngIf="errorMessages.length > 0" class="error-messages">
    <div *ngFor="let errorMessage of errorMessages">{{ errorMessage }}</div>
  </div>
  <div *ngFor="let review of reviews" class="review">
    <div class="review-header">
      <h4 class="review-title">{{ review.title }}</h4>
      <div class="stars">
        <ng-container *ngFor="let star of [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]; let i = index">
          <span class="star" [class.filled]="i + 1 <= review.rating">★</span>
        </ng-container>
      </div>
    </div>
    <p class="review-content">{{ review.content }}</p>
    <p class="review-footer">Upvotes: {{ review.upvotesCount || '0' }}</p>
    <div *ngIf="isAuthenticated()" class="review-actions">
      <button *ngIf="upvoteAllowed(review)" (click)="upvoteReview(review._id)" class="btn upvote-button">Upvote</button>
      <button *ngIf="isReviewAuthor(review)" (click)="editReview(review)">Edit</button>
      <button *ngIf="isAdmin() || isReviewAuthor(review)" (click)="removeReview(review._id)">Remove</button>
    </div>

    <div *ngIf="editingReviewId === review._id" class="edit-review">
      <input type="text" [(ngModel)]="editingReviewTitle" placeholder="Review Title">
      <div class="stars" (mouseleave)="resetEditingStars()">
        <ng-container *ngFor="let star of [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]; let i = index">
          <span class="star"
                [class.filled]="i + 1 <= editingReviewRating || i + 1 <= tempEditingRating"
                (mouseover)="setTempEditingRating(i + 1)"
                (click)="setEditingRating(i + 1)">★</span>
        </ng-container>
      </div>
      <textarea [(ngModel)]="editingReviewContent" placeholder="Edit your review..."></textarea>
      <div class="edit-actions">
        <button class="update-button" (click)="updateReview()">Update</button>
        <button class="cancel-button" (click)="cancelEditing()">Cancel</button>
      </div>
    </div>
  </div>

  <div *ngIf="isAuthenticated() && !hasWrittenReview" class="add-review">
    <h3>Add a Review</h3>
    <input type="text" [(ngModel)]="newReviewTitle" placeholder="Review Title">
    <div class="stars" (mouseleave)="resetStars()">
      <ng-container *ngFor="let star of [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]; let i = index">
        <span class="star"
              [class.filled]="i + 1 <= newReviewRating || i + 1 <= tempRating"
              (mouseover)="setTempRating(i + 1)"
              (click)="setRating(i + 1)">★</span>
      </ng-container>
    </div>
    <textarea [(ngModel)]="newReview" placeholder="Add a review..."></textarea>
    <button class="submit-button" (click)="addReview()">Submit</button>
  </div>
</div>
