.stars {
  display: flex;
  justify-content: flex-end;

  input[type="radio"] {
    display: none;
  }

  label {
    font-size: 1.5em;
    color: lightgray;
    cursor: pointer;
  }

  label:hover,
  label:hover ~ label,
  input[type="radio"]:checked ~ label {
    color: gold;
  }
}
