<div *ngIf="movie">
  <h1>{{ movie.title }}</h1>
  <img [src]="'https://image.tmdb.org/t/p/w500' + movie.poster_path" alt="{{ movie.title }}">
  <p>{{ movie.overview }}</p>
  <p>Release Date: {{ movie.release_date | date }}</p>
  <p>Rating: {{ movie.vote_average }}</p>
  <button *ngIf="!isInWatchlist" (click)="addToWatchlist()">Add to Watchlist</button>
  <button *ngIf="isInWatchlist" (click)="removeFromWatchlist()">Remove from Watchlist</button>
  <button *ngIf="!isInFavourites" (click)="addToFavourites()">Add to Favourites</button>
  <button *ngIf="isInFavourites" (click)="removeFromFavourites()">Remove from Favourites</button>

  <app-review [contentId]="movie.id" [contentType]="'Movie'"></app-review>
</div>
